@model IEnumerable<Manabu.Models.Question>
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=7KedZcdy"></script>

@{
    ViewData["Title"] = "TakeQuiz";
}

@*<h1>TakeQuiz</h1>*@

    <div>
        <form asp-action="SaveAnswers">

            @for (var i = 0; i < Model.ToList().Count(); i++)
            {
                <div>
                    <h1>Question @Html.DisplayFor(modelItem => modelItem.ToList()[i].Id)</h1>
                    <p id="question" class="display-4">@Html.DisplayFor(modelItem => modelItem.ToList()[i].Name)</p>

                    <button onclick="responsiveVoice.speak('@Html.ValueFor(modelItem => modelItem.ToList()[i].Name)', 'Japanese Male', { Volume: 0.5 }, { Rate: 0.25 })" type="button" value="Play">
                    <i class="fa fa-microphone"></i>
                    </button>

                    @Html.TextBoxFor(modelItem => modelItem.ToList()[i].Id, new { style = "display: none;" })
                </div>

                @foreach (var answer in Model.ToList()[i].AnswerKeys)
                {
        <div>
            @*<input type="radio" id="radio" name="@Html.DisplayNameFor(modelItem =>answer.Name)" value="@Html.DisplayFor(modelItem =>answer.Name)" />
        <label for="radio">@Html.DisplayFor(modelItem => answer.Name)</label>*@
            @Html.RadioButtonFor(modelItem => modelItem.ToList()[i].CorrectAnswer, answer.Id)
            <label for="radio">@Html.DisplayFor(modelItem => answer.Name)</label>
        </div>
                }


            }

            <input name="quizId" type="hidden" value="@Model.ToList()[0].QuizQuestions.ToList()[0].QuizId"/>

            <div class="form-group">
                <input type="submit" value="Submit"/>
            </div>
        </form>
    </div>

